.anchor
.DS_Store
target/debug
target/release
target/sbf-solana-solana
target/.rustc_info.json
**/*.rs.bk
node_modules
test-ledger
.yarn

debug/


.DS_Store
.anchor/

test-ledger/

**/target/*
!**/target/deploy
**/target/deploy/*

!**/target/deploy/vault-keypair.json
